### Retail Sales data visualisation project

#### 1. Data load and exploration

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel('/Users/maksimnoskov/Documents/tsi_term2/bi_dv_project/retail_sales_visualisation/ret_sales.xlsx')

In [6]:
data.columns = data.columns.str.lower()

In [7]:
data.head()

,order_number,shipment_number,item_number,invoice_number,invoice_date,order_date,customer_number,customer_location,customer_department,customer_province,...,company_code,company_name,company_number,average_cost_price,sales_amount,invoice_amount,cost_price,upc_number,purchase_order_number,order_type
0,6735217,20171129,428714,6735217,20171129,20171128,410,10,9,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,3.36,0.56,0.56,62245427241,0,REGULAR
1,6165708,20190626,408872,6165708,20190626,20190624,1375,1,83,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,12.00,4.00,4.00,62245427366,0,REGULAR
2,6517073,20180910,354274,6517073,20180910,20180908,2196,1,70,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,0,0.0,7.16,1.79,1.79,62245427478,0,REGULAR
3,6723693,20200513,222679,6723693,20200513,20200509,1934,50,70,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,19.60,4.90,4.90,62245427708,0,REGULAR
4,6766514,20190128,431999,6766514,20190128,20190125,75379,201,0,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,62.58,10.43,10.43,62245427234,0,REGULAR

In [ ]:
# Getting # of rows in a given dataset

len(data)

10000

In [9]:
data['order_number'].equals(data['invoice_number'])

True

In [10]:
data['shipment_number'].equals(data['invoice_date'])

True

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   order_number                10000 non-null  object
 1   shipment_number             10000 non-null  int64
 2   item_number                 10000 non-null  int64
 3   invoice_number              10000 non-null  object
 4   invoice_date                10000 non-null  int64
 5   order_date                  10000 non-null  int64
 6   customer_number             10000 non-null  int64
 7   customer_location           10000 non-null  int64
 8   customer_department         10000 non-null  int64
 9   customer_province           10000 non-null  object
 10  item_description            9928 non-null   object
 11  shipping_region_identifier  10000 non-null  int64
 12  shipping_region_code        10000 non-null  object
 13  shipping_region_name        10000 non-null  object
 14  shipping_unit_measure       10000 non-null  object
 15  shipping_pack_quantity      10000 non-null  int64
 16  item_unit_quantity          10000 non-null  float64
 17  item_department             10000 non-null  int64
 18  item_section                10000 non-null  int64
 19  item_section_module         10000 non-null  int64
 20  item_group                  10000 non-null  int64
 21  item_sequence               10000 non-null  int64
 22  item_stock_status           10000 non-null  object
 23  warehouse_identifier        10000 non-null  int64
 24  warehouse_number            10000 non-null  int64
 25  warehouse_name              10000 non-null  object
 26  warehouse_region_name       10000 non-null  object
 27  vendor_identifier           10000 non-null  int64
 28  vendor_number               10000 non-null  int64
 29  vendor_name                 10000 non-null  object
 30  vendor_city                 10000 non-null  object
 31  vendor_country              10000 non-null  object
 32  vendor_address              10000 non-null  object
 33  order_quantity              10000 non-null  int64
 34  shipped_quantity            10000 non-null  int64
 35  company_identifier          10000 non-null  int64
 36  company_code                10000 non-null  int64
 37  company_name                10000 non-null  object
 38  company_number              10000 non-null  int64
 39  average_cost_price          10000 non-null  float64
 40  sales_amount                10000 non-null  float64
 41  invoice_amount              10000 non-null  float64
 42  cost_price                  10000 non-null  float64
 43  upc_number                  10000 non-null  int64
 44  purchase_order_number       10000 non-null  object
 45  order_type                  10000 non-null  object
dtypes: float64(5), int64(24), object(17)
memory usage: 3.5+ MB

In [12]:
# Identify and count entries with a letter in the invoice_number column

mask = data['invoice_number'].astype(str).str.match(r'^\d{7}[A-Za-z]$')
count_strange_instances = mask.sum()
print("Number of entries with 7 digits followed by a letter:", count_strange_instances)

Number of entries with 7 digits followed by a letter: 107

In [13]:
strange_instances = data[mask]
strange_instances

,order_number,shipment_number,item_number,invoice_number,invoice_date,order_date,customer_number,customer_location,customer_department,customer_province,...,company_code,company_name,company_number,average_cost_price,sales_amount,invoice_amount,cost_price,upc_number,purchase_order_number,order_type
57,1831685A,20200106,592881,1831685A,20200106,20200104,2059,33,62,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,0,0.0,8.23,8.23,8.23,7478035561,0,REGULAR
300,5264627A,20191204,414284,5264627A,20191204,20191202,2142,70,62,ARIZONA,...,88880,BRANDS GLOBAL CO.,550,0.0,12.62,12.62,12.62,7618680001,0,REGULAR
393,5520666Y,20201107,209270,5520666Y,20201107,20201104,3912,1,66,MICHIGAN,...,88880,BRANDS GLOBAL CO.,0,0.0,18.18,18.18,18.18,77049035513,0,REGULAR
416,1667439A,20181221,366229,1667439A,20181221,20181220,2059,6,62,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,0,0.0,38.40,19.20,19.20,6321119157,0,REGULAR
440,3522200A,20180315,379875,3522200A,20180315,20180314,1819,1,60,TEXAS,...,88880,BRANDS GLOBAL CO.,12,0.0,12.96,12.96,12.96,6321123212,0,REGULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9088,3361579Y,20201121,716084,3361579Y,20201121,20201120,2950,2,9,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,17.05,17.05,17.05,5731617582,0,REGULAR
9097,1975394Y,20201105,274191,1975394Y,20201105,20201104,271,11,62,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,543,0.0,12.12,12.12,12.12,1657195158,0,REGULAR
9267,6748767A,20190118,4452322,6748767A,20190118,20190115,2620,2,70,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,7.21,7.21,7.21,823688550,0,REGULAR
9303,6338918A,20180613,4319679,6338918A,20180613,20180607,646,3,20,MICHIGAN,...,88880,BRANDS GLOBAL CO.,0,0.0,519.42,86.57,86.57,9583203307,0,REGULAR
9356,5495600Y,20201005,400150,5495600Y,20201005,20201004,387,56,70,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,10.42,10.42,10.42,6490042432,0,REGULAR

In [14]:
strange_instances['invoice_number'].is_unique

False

In [15]:
duplicate_mask = strange_instances['invoice_number'].duplicated(keep=False)
duplicates = strange_instances[duplicate_mask]
duplicates

,order_number,shipment_number,item_number,invoice_number,invoice_date,order_date,customer_number,customer_location,customer_department,customer_province,...,company_code,company_name,company_number,average_cost_price,sales_amount,invoice_amount,cost_price,upc_number,purchase_order_number,order_type
891,1738471A,20190531,684092,1738471A,20190531,20190530,2059,33,62,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,23,0.0,26.76,26.76,26.76,5565368810,0,REGULAR
6734,1738471A,20190531,883694,1738471A,20190531,20190530,2059,33,62,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,0,0.0,13.99,13.99,13.99,5731613507,0,REGULAR